@charset "utf-8";
/**
*
* @project    ADHD Taiwan
* @Author     Elmo Woo <hello@xuedesign.tw>
* @copyright  2018 xuedesign studio
* @version    v1.0 - 201806
*
**/

/*
=====================================
平板裝置(寬>長)  for-tablet-landscape-up
=====================================
*/
@media (max-width:1110px) { 
#wrap,
header,
#main-nav,
footer{
   min-width: 1000px}    
}

/*
=====================================
平板裝置(長>寬) for-tablet-portrait-up
=====================================
*/
@media (max-width:800px) {
#wrap,
header,
#main-nav,
footer{ min-width: 750px}
#box-top,
#container-index,
#container-page{ width: 100%; max-width: 750px}
#box-top{position: relative}    

footer{ height: auto; padding: 32px 0 18px}
.foot-item,
#box-error-info{
    width: 90%}
.foot-item p{ width: 85%}
.foot-item i{ width: 15%}   
#main-nav{
    height: 15px;
    background-position: bottom}
#main-nav ul{ display: none}
a#mobile-nav{
    display: block;
    position: absolute;
    top: 70px;
    right: 30px;
    width: 50px;
    height: 50px;
    font-size: 4rem;
    color: #fff} 
}

/*
=====================================
平板裝置(7"~8"小平板) for-SnmallTablet
=====================================
*/
@media (max-width: 600px) {
#wrap,
header,
#main-nav,
footer{ min-width: 573px}
#box-top,
#container-index,
#container-page{ width: 100%; max-width: 573px}
    
}

/*
=====================================
手機(5"以上大螢幕) for-phone-only
=====================================
*/
@media (max-width: 420px) {
#wrap,
header,
#main-nav,
footer{ min-width: 355px}
#box-top,
#container-index,
#container-page{ width: 100%; max-width: 355px}
.foot-item p{ width: 68%}
    
#box-top h2 a{
    width: 200px;
    height: 144px;
    background-position: 0 12px;
    background-size: contain;
    margin-left: -30px}    
a#mobile-nav{ top: 70px; right: 0} 

}

/*
=====================================
手機(4.7"以下小螢幕) for-phone-only
=====================================
*/
@media (max-width: 321px) {
#wrap,
header,
#main-nav,
footer{ min-width: 300px}
#box-top,
#container-index,
#container-page{ width: 100%; max-width: 300px}

a#mobile-nav{
    top: 30px;
    right: 10px;
    width: 30px;
    height: 30px;
    font-size: 3rem} 
    
}


/*
=====================================
for-retina-photo
=====================================
*/
@media only screen and 
(-webkit-min-device-pixel-ratio: 2.0), 
only screen and (min-resolution: 2dppx),
(-webkit-min-device-pixel-ratio: 2.0), 
(min-resolution: 192dpi){
    
    
}