@charset "utf-8";
/*-- Created By
   ##############               ###############   
    ##############             ###############    
    ##############             ##############     
     ##############           ##############      
      ##############          #############       
       #############         ##############       
        #############       ##############        
        ##############      #############         
         ###############################          
         ###############################          
        #################################         
        ##############     ##############         
       ##############       ##############        
       ##############        ##############       
      ##############         #######           
     ###############          ##############      
     ##############           ###############     
    ######      
    ##############              ##############    
   ##############               ##############
          
                 xuedesign studio 
             https://www.xuedesign.tw/
--*/

/**
*
* @project    ADHD Taiwan
* @Author     Elmo Woo <hello@xuedesign.tw>
* @copyright  2018 xuedesign studio
* @version    v1.0 - 201806
*
*=====================================
* 0. Reset重置
* 1. 通用設定
* 2. 全站結構
* 3. 選單設定
* 4. 按鈕設定
* 5. 頁面設定
* 6. 作品圖片輪播
* 7. animate
* 8. overlay-menu
* 9. 自訂scrollbar
*=====================================
**/


/*
=====================================
reset重置
=====================================
*/
@import url("reset.css");


/*
=====================================
通用設定
=====================================
*/
html { font-size:62.5% }
body{
	margin: 0;
	padding:0;
	font-family: "xingothic-tc","Microsoft JhengHei","PingFangTC-Regular", Arial, Helvetica, sans-serif;
	font-size: 1rem; /* 1rem=10px */
	color:#191919}
/*a:link {text-decoration:underline; color:rgb(29,108,179)}
a:visited {text-decoration:underline; color:rgb(151,61,146)}
a:hover {text-decoration:none; color:rgb(255, 85, 0)}*/
form{margin:0; padding:0}
image{border:0}
.clean{ clear:both}
.hidden{ display:none}

/*頁面反白設定*/
::selection { background: rgb(29,108,179); color: #fff}
::-moz-selection { background: rgb(29,108,179); color: #fff}
img::selection { background: transparent}
img::-moz-selection { background: transparent}

/*justffont載入設定*/
/*
.jf-loading body { /*載入中不顯示
      opacity: 0;
      visibility: hidden;
}
.jf-active body { /*如果處理成功，直接顯示
      opacity: 1;
      visibility: visible;
}
.jf-inactive body {/*如果處理失敗，直接顯示
      opacity: 1;
      visibility: visible;
}
*/
.jf-active *, 
.jf-inactive *{ 
    transition: opacity 1s linear;
	-moz-transition: opacity 1s linear;
	-webkit-transition: opacity 1s linear;
	-ms-transition: opacity 1s linear;
	-o-webkit-transition: opacity 1s linear}

/*
=====================================
全站結構
=====================================
*/
#wrap,
header,
#main-nav,
footer{
    display: block;
    width: 100%}
header{
    height: 155px;
    background: url(../images/bg_top.jpg) top center}

#box-top,
#container-index{
    display: block;
    width: 1000px;
    padding: 0 20px;
    margin: 0 auto}
#box-top{ height: 155px}
#main-nav{
    height: 63px;
    background: url(../images/bg_nav.png) repeat-x}
#container-index{
    min-height: 644px;
    padding: 48px 0}
#box-index{
    display: block;
    float: left;
    width: 720px;
    margin-right: 59px}
#linkbox-index{
    display: block;
    float: right;
    width: 220px}

footer{
    height: 95px;
    background: rgb(17,55,95);
    padding-top: 32px}
.foot-item{
    display: block;
    width: 40%;
    margin: 0 auto}
.foot-item p{
    display: block;
    float: left;
    font-weight: 300;
    font-size: 1.3rem;
    line-height: 1.95rem;
    color: #fff;
    letter-spacing: 1px}
.foot-item a:link,
.foot-item a:visited{
    color: #fff;
    text-decoration: none}
.foot-item a:hover{
    color: #fff;
    text-decoration: underline}
.icon-fb{ float: left}
.foot-item i{
    display: block;
    float: left;
    padding-left: 15px;
    font-size: 3.8em}
.foot-item i:hover{ color: rgb(37,176,234)}

/*
=====================================
選單設定
=====================================
*/
#main-nav ul{
    display: block;
    width: 1000px;
    margin: 0 auto}
#main-nav li{
    display: inline-block;
    position:relative;
    float:left;
    width: 192px;
    height: 63px;
    font-size: 2rem;
    line-height: 63px;
    text-align: center}
#main-nav li a:link,
#main-nav li a:visited{ 
    color: #fff; 
    text-decoration: none}
#main-nav li a:hover{ 
    color: rgb(37,176,234);
    text-decoration: none}

#main-nav li ul{ display: none}
#main-nav li:hover ul{
    display: block;
    width: 190px;}
#main-nav li li{
    width: 190px;
    height: 58px}
#main-nav li:hover li a,
#main-nav li.iehover li a{
    display: block;
    float: none;
    position: absolute;
    top:-2px;
    left: 0/*-45px*/;
    z-index: 1000;
    width: 190px/*210px*/;
    height: 58px;
    padding: 0;
	background: rgba(17,55,95,.9);
    font-size: 1.7rem;
    line-height: 58px;
    color: #fff;
    border-bottom: 1px dashed #fff}
#main-nav li:hover li .linesmall,
#main-nav li.iehover li .linesmall{
    padding-top: 8px;
    line-height: 18px}
#main-nav li:hover li a:hover,
#main-nav li:hover li:hover a,
#main-nav li.iehover li a:hover,
#main-nav li.iehover li.iehover a {
    font-weight: normal;
    color: #fff;
	background: rgb(0,62,168)}

/*懸停效果*/
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1)}

/*
=====================================
按鈕設定
=====================================
*/
.mybtn-xl,
.mybtn-l,
.mybtn-m{
    display: block;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2.2rem;
    letter-spacing: 1px;
    text-align: center;
    border: 2px solid;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin: 0 auto;
    text-decoration: none}
.mybtn-xl{ 
    width: 180px;
    padding: 15px 10px}
.mybtn-l{ 
    width: 160px;
    padding: 15px 10px}
.mybtn-m{ 
    width: 120px;
    padding: 8px 10px}
.btn-white{
    color: #fff;
    border-color: #fff;
    text-shadow: 0 0 15px #868686}
.btn-blue{
    color: #5e98d4;
    border-color: #5e98d4}
.btn-white:hover,
.btn-blue:hover{
    color: #fff;
    border-color: #0d4d80;
    background: #126db4;
    -webkit-transition: all 0.5s ease 0s;
    /* 變動類別;動畫時間;動畫加速屬性;延遲發生時間 */
    -moz-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;}

@keyframes mousemove {
    0%   { margin-top: 85px }
    50%  { margin-top: 100px }
    100% { margin-top: 84px }
}
@-webkit-keyframes mousemove {
    0%   { margin-top: 85px }
    50%  { margin-top: 100px }
    100% { margin-top: 84px }
}

/*
=====================================
頁面設定
=====================================
*/
#box-top h2 a{
    display: block;
    width: 240px;
    height: 155px;
    background: url(../images/logo.png) no-repeat;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden}

/*首頁*/
#linkbox-index img{
    margin-bottom: 50px}
.swiper-container {
    width: 100%;
    height: 100%}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center}
#link-article{
    display: block;
    width: 100%;
    margin-top: 30px}
.link-item{
    display: inline-block;
    vertical-align: top;
    width: 47.5%;
    margin: 0 2% 3% 0}
.link-item:nth-child(2),
.link-item:nth-child(4){
    margin: 0 0 0 2%}
.link-item h3{
    font-size: 2.2rem;
    line-height: 4rem;
    font-weight: 700;
    margin-bottom: 0;
    color: rgb(54,110,170)}
.link-main{
    display: block;
    min-height: 50px;
    border: 1px solid #366eaa;
    padding: 15px}
.link-main p{
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 500;
    text-align: justify}
.link-title-01,
.link-title-02,
.link-title-03,
.link-title-04{
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 5px;
    vertical-align: sub}
.link-title-01{
    background: url(../images/icon-title_03.png) no-repeat;
    background-size: contain}
.link-title-02{
    background: url(../images/icon-title_04.png) no-repeat;
    background-size: contain}
.link-title-03{
    background: url(../images/icon-title_02.png) no-repeat;
    background-size: contain}
.link-title-04{
    background: url(../images/icon-title_01.png) no-repeat;
    background-size: contain}
.index-more a:link,
.index-more a:visited{
    display: block;
    width: 100%;
    text-align: center;
    color: rgb(54,110,170);
    text-decoration: none;
    padding-top: 5px}
.index-more a:hover{
    font-weight: 700;
    color: rgb(238,93,9);
    text-decoration: none}



/*
=====================================
自訂scrollbar
=====================================
*/
::-webkit-scrollbar {
  width: 8px;
  height: 8px}
::-webkit-scrollbar-button {
  width: 0;
  height: 0}
::-webkit-scrollbar-thumb {
  background: #1C45FF;
  border: 0px none #fff;
  border-radius: 60px;	
  behavior: url(PIE.htc)}
::-webkit-scrollbar-thumb:hover {
  background: #1C45FF}
::-webkit-scrollbar-track {
  background: #1CB7FF;
  border: 0px none #fff;
  border-radius: 0;
  behavior: url(PIE.htc)}
